/*@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Russo+One&family=Yellowtail&display=swap');*/
@import url('https://fonts.googleapis.com/css2?family=Permanent+Marker&family=Russo+One&family=Stoke:wght@300&display=swap');
*{
  padding: 0;
  margin: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
}
a{
    text-decoration: none;
}
body{
  font-family: montserrat;
}
.bodyclass{
    background-color: rgb(26, 1, 128);
    color: white;
}
nav{
  background: rgb(140, 20, 132);
  height: 80px;
  width: 100%;
}
label.logo{
  line-height: 70px;
  margin-left: 30px;
}
nav ul{
  float: right;
  margin-right: 20px;
  padding-top: 30px;
}
nav ul li{
  display: inline-block;
  /*line-height: 80px;*/
  margin: 0 5px;
}
nav ul li a{
  color: white;
  font-size: 17px;
  padding: 7px 13px;
  border-radius: 3px;
  text-transform: uppercase;
  text-decoration: none;
}
a.active,a:hover{
  background: rgb(26, 1, 128);
  transition: .5s;
}
.checkbtn {
  /*font-size: 30px;*/
  color: white;
  float: right;
  line-height: 80px;
  margin-right: 40px;
  cursor: pointer;
  display: none;
}
#check{
  display: none;
}
@media (max-width: 450px){
  label.logo{
    font-size: 30px;
    padding-left: 50px;
  }
  nav ul li a{
    /*font-size: 16px;*/
    display: none;
    text-decoration: none;
  }
}
@media (max-width: 858px){
  .checkbtn{
    display: block;
  }
  ul{
    position: fixed;
    width: 100%;
    height: 100vh;
    background: #2c3e50;
    top: 60px;
    left: -100%;
    text-align: center;
    transition: all .5s;
  }
  a:hover,a.active{
    background: none;
    color: #0082e6;
  }
  nav ul li a{
    color: white;
    margin: 0 5px;
  }
  #check:checked ~ ul{
    left: 0;
  }
}

/*slideshow*/
* {box-sizing: border-box}
/*body {font-family: Verdana, sans-serif; margin:0}*/e;}
.mySlides{
    display: none;
    /*width: 1000px;*/
}
.mySlides img{
    width: 1400px;
    align-items: center;
}
/* Slideshow container */
.slideshow {
  max-width: 100%;
  position: relative;
  margin: auto;
}
@media (max-width: 450px){
    .mySlides img{
        width: 425px;
    }
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}
/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  padding: 16px;
  margin-top: -22px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  animation-name: fade;
  animation-duration: 1.5s;
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {
  .prev, .next,.text {font-size: 11px}
}

/*section*/
.orgname{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    /*font-family: 'Permanent Marker', cursive;*/
    font-family: 'Stoke', serif;
}
.org-name{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 5px;
    font-family: 'Russo One', sans-serif;
}
.org-exp1{
    text-align: center;
    padding-top: 30px;
    padding-left: 150px;
    padding-right: 150px;
    align-items: center;
}
.org-exp{
    text-align: center;
    padding: 30px;
    align-items: center;
}
.img{
    /*align-items: center;*/
    padding-top: 30px;
    padding-left: 100px;
    width: 250px;
    height: 150px;
}
.img-exp{
    /*font-family: 'Yellowtail', cursive;*/
    font-family: 'Stoke', serif;
    padding: 20px;
    font-size: 20px;
}
.poster{
    height: 500px;
    width: 500px;
}
@media (max-width: 450px){
    .poster{
        margin-left: 0;
        width: 300px;
    }
    .img{
        width: 300px;
    }
    .org-exp1{
        margin: 0;
        text-align: center;
        padding: 0;
    }
}

.gallery{
    padding: 20px;
    margin: 50px;
}
.org{
    padding: 5px;
    text-align: center;
}

.footer{
    background-color: rgb(140, 20, 132);
    padding-bottom: 30px;
}
.footer h5{
    text-align: center;
    padding: 30px;
}
.footer i{
    float: right;
}
@media (max-width: 450px){
    .footer i{
        float: left;
    }
}
